/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
#head{
    color: red;
}
.jumbotron{
    color: black;
}
.one{
    color: blue;
    padding: 10px;
}
.two{
    color: blue;
   padding: 10px;
}
.three{
    color: blue;
     padding: 10px;
}
.click{
    color: black;
}